<%- include("template/cabecera", {tituloWeb: 'Página de ÉXITO'}) %>

<br>
<center><h1><%- msj %></h1></center>
<br>
<center><h1><%- msj2 %></h1></center>
<br>
<center><h1><%- msj3 %></h1></center>
<br>
<center><h3 ><%- token %></h3></center>
<%- include("template/footer") %>